<h1><%= current_user.nick_name %>'s Profile</h1>
<dl class="dl-horizontal">
  <dt>
    Nick name
  </dt>
  <dd>
    <%= current_user.nick_name %>
  </dd>
  <dt>
    Email
  </dt>
  <dd>
    <%= current_user.email %>
  </dd>
</dl>
<div class="profile-nav">
  <ul>
    <li class="list-unstyled">
      <%= link_to "Edit Account Info", edit_user_path(current_user.id) %>
    </li>
  </ul>
</div>
